## 0. 데이터 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
path = '/content/drive/MyDrive/perfume/'
path + 'df_{}.csv'.format(3)

'/content/drive/MyDrive/perfume/df_3.csv'

In [ ]:
path2 = '/content/drive/MyDrive/2023 겨울 NLP 쿠빅 컨테스트/park/'
path2 + 'df_{}.csv의 사본'.format(3)

'/content/drive/MyDrive/2023 겨울 NLP 쿠빅 컨테스트/park/df_3.csv의 사본'

In [ ]:
path3 = '/content/drive/MyDrive/2023 겨울 NLP 쿠빅 컨테스트/noh/'
path3 + 'df_{}.csv의 사본'.format(3)

'/content/drive/MyDrive/2023 겨울 NLP 쿠빅 컨테스트/noh/df_3.csv의 사본'

In [ ]:
path_list = []
for i in range(1, 49):
  element = path + 'df_{}.csv'.format(i)
  path_list.append(element)

In [ ]:
path_list2 = []
for i in range(49, 97):
  element = path2 + 'df_{}.csv의 사본'.format(i)
  path_list2.append(element)

In [ ]:
path_list3 = []
for i in range(97, 145):
  element = path3 + 'df_{}.csv의 사본'.format(i)
  path_list3.append(element)

In [ ]:
for i in range(0, 48):
  globals()[f'df_{i}'] = pd.read_csv(path_list[i])

In [ ]:
for i in range(48, 96):
  globals()[f'df_{i}'] = pd.read_csv(path_list2[i-48])

In [ ]:
for i in range(96, 144):
  globals()[f'df_{i}'] = pd.read_csv(path_list3[i-96])

In [ ]:
df_47.head()

   Unnamed: 0                                             review
0           0  The Holy Grail of deep dark amber fragrances a...
1           1  Well...its definitely unique. Way overhyped an...
2           2  Amazing! I’ve never been to the Moroccan deser...
3           3  A DESERT AIR MACARON \nStripped of all pretens...
4           4  Absolutely love the scent. It’s magical indeed...

In [ ]:
df_48.head()

   Unnamed: 0                                             review
0           0  I like Arancia di Capri more. This smells like...
1           1  I don’t find this to be fresh, it smells sour ...
2           2  I bought this perfume as a blind buy and didn'...
3           3  Bright citrus scent which is even made more cr...
4           4  Oh God, this is gorgeous. Easily my favourite ...

In [ ]:
df_95.head()

   Unnamed: 0                                             review
0           0  The opening smells like walking through a fres...
1           1  Very green, bright, and fresh. Natural smellin...
2           2  I love this so much, it comes off really rosie...
3           3  It should be right up my alley based on the no...
4           4  To me, this is a minty rose scent. Imagine che...

In [ ]:
df_96.head()

   Unnamed: 0                                             review
0           0  One of the most outstanding cardamom scents in...
1           1  The opening smells like a bon fire that was ju...
2           2  Holy s*** is this good, like seriously, I was ...
3           3  @cbholme85 \nCTFU over here!!! Honestly you ju...
4           4             if anyone sells it in the EU, pm me :)

In [ ]:
df_143.head()

   Unnamed: 0                                             review
0           0  Creamy jasmine floral scent, not what I’d expe...
1           1  This one is okay. After viewing the "smells li...
2           2  For approximately an hour this perfume is all ...
3           3  This scent is really lovely and sophisticated....
4           4  To me this is such a sweet delicious floral co...

## nltk

In [ ]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...

True

In [ ]:
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [ ]:
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

## cleansing 함수 정의

In [ ]:
def cleansing(df):
  temp=[]
  for i in range(0,len(df)):
    temp.append(df['review'][i])
  temp1 = ' '.join(s for s in temp)
  temp2 = re.sub('\n', ' ', temp1)
  temp3 = re.sub('\'', '', temp2)
  temp4 = re.sub('[^a-zA-z.]', ' ', temp3)
  words = temp4.lower().split()
  stops = set(stopwords.words('english'))
  meaningful_words = [w for w in words if not w in stops]
  temp5 = [wordnet_lemmatizer.lemmatize(w) for w in meaningful_words]
  return(' '.join(temp5))

### lemmatize vs stemming

In [ ]:
words=['strawberries.', 'strawberry', 'candies', 'candy', 'smell', 'smelt', 'comforting', 'comfort']
print([wordnet_lemmatizer.lemmatize(w) for w in words])

['strawberries.', 'strawberry', 'candy', 'candy', 'smell', 'smelt', 'comforting', 'comfort']

In [ ]:
from nltk.stem.snowball import SnowballStemmer

stemmer = SnowballStemmer('english')
print([stemmer.stem(w) for w in words])

['strawberries.', 'strawberri', 'candi', 'candi', 'smell', 'smelt', 'comfort', 'comfort']

## cleansed로 변환

In [ ]:
cleansed_0 = cleansing(df_0)
cleansed_1 = cleansing(df_1)
cleansed_2 = cleansing(df_2)
cleansed_3 = cleansing(df_3)
cleansed_4 = cleansing(df_4)
cleansed_5 = cleansing(df_5)
cleansed_6 = cleansing(df_6)
cleansed_7 = cleansing(df_7)
cleansed_8 = cleansing(df_8)
cleansed_9 = cleansing(df_9)

In [ ]:
cleansed_10 = cleansing(df_10)
cleansed_11 = cleansing(df_11)
cleansed_12 = cleansing(df_12)
cleansed_13 = cleansing(df_13)
cleansed_14 = cleansing(df_14)
cleansed_15 = cleansing(df_15)
cleansed_16 = cleansing(df_16)
cleansed_17 = cleansing(df_17)
cleansed_18 = cleansing(df_18)
cleansed_19 = cleansing(df_19)

In [ ]:
cleansed_20 = cleansing(df_20)
cleansed_21 = cleansing(df_21)
cleansed_22 = cleansing(df_22)
cleansed_23 = cleansing(df_23)
cleansed_24 = cleansing(df_24)
cleansed_25 = cleansing(df_25)
cleansed_26 = cleansing(df_26)
cleansed_27 = cleansing(df_27)
cleansed_28 = cleansing(df_28)
cleansed_29 = cleansing(df_29)

In [ ]:
cleansed_30 = cleansing(df_30)
cleansed_31 = cleansing(df_31)
cleansed_32 = cleansing(df_32)
cleansed_33 = cleansing(df_33)
cleansed_34 = cleansing(df_34)
cleansed_35 = cleansing(df_35)
cleansed_36 = cleansing(df_36)
cleansed_37 = cleansing(df_37)
cleansed_38 = cleansing(df_38)
cleansed_39 = cleansing(df_39)

In [ ]:
cleansed_40 = cleansing(df_40)
cleansed_41 = cleansing(df_41)
cleansed_42 = cleansing(df_42)
cleansed_43 = cleansing(df_43)
cleansed_44 = cleansing(df_44)
cleansed_45 = cleansing(df_45)
cleansed_46 = cleansing(df_46)
cleansed_47 = cleansing(df_47)

In [ ]:
cleansed_48 = cleansing(df_48)
cleansed_49 = cleansing(df_49)

In [ ]:
cleansed_50 = cleansing(df_50)
cleansed_51 = cleansing(df_51)
cleansed_52 = cleansing(df_52)
cleansed_53 = cleansing(df_53)
cleansed_54 = cleansing(df_54)
cleansed_55 = cleansing(df_55)
cleansed_56 = cleansing(df_56)
cleansed_57 = cleansing(df_57)
cleansed_58 = cleansing(df_58)
cleansed_59 = cleansing(df_59)

In [ ]:
cleansed_60 = cleansing(df_60)
cleansed_61 = cleansing(df_61)
cleansed_62 = cleansing(df_62)
cleansed_63 = cleansing(df_63)
cleansed_64 = cleansing(df_64)
cleansed_65 = cleansing(df_65)
cleansed_66 = cleansing(df_66)
cleansed_67 = cleansing(df_67)
cleansed_68 = cleansing(df_68)
cleansed_69 = cleansing(df_69)

In [ ]:
cleansed_70 = cleansing(df_70)
cleansed_71 = cleansing(df_71)
cleansed_72 = cleansing(df_72)
cleansed_73 = cleansing(df_73)
cleansed_74 = cleansing(df_74)
cleansed_75 = cleansing(df_75)
cleansed_76 = cleansing(df_76)
cleansed_77 = cleansing(df_77)
cleansed_78 = cleansing(df_78)
cleansed_79 = cleansing(df_79)

In [ ]:
cleansed_80 = cleansing(df_80)
cleansed_81 = cleansing(df_81)
cleansed_82 = cleansing(df_82)
cleansed_83 = cleansing(df_83)
cleansed_84 = cleansing(df_84)
cleansed_85 = cleansing(df_85)
cleansed_86 = cleansing(df_86)
cleansed_87 = cleansing(df_87)
cleansed_88 = cleansing(df_88)
cleansed_89 = cleansing(df_89)

In [ ]:
cleansed_90 = cleansing(df_90)
cleansed_91 = cleansing(df_91)
cleansed_92 = cleansing(df_92)
cleansed_93 = cleansing(df_93)
cleansed_94 = cleansing(df_94)
cleansed_95 = cleansing(df_95)

In [ ]:
cleansed_96 = cleansing(df_96)
cleansed_97 = cleansing(df_97)
cleansed_98 = cleansing(df_98)
cleansed_99 = cleansing(df_99)

In [ ]:
cleansed_100 = cleansing(df_100)
cleansed_101 = cleansing(df_101)
cleansed_102 = cleansing(df_102)
cleansed_103 = cleansing(df_103)
cleansed_104 = cleansing(df_104)
cleansed_105 = cleansing(df_105)
cleansed_106 = cleansing(df_106)
cleansed_107 = cleansing(df_107)
cleansed_108 = cleansing(df_108)
cleansed_109 = cleansing(df_109)

In [ ]:
cleansed_110 = cleansing(df_110)
cleansed_111 = cleansing(df_111)
cleansed_112 = cleansing(df_112)
cleansed_113 = cleansing(df_113)
cleansed_114 = cleansing(df_114)
cleansed_115 = cleansing(df_115)
cleansed_116 = cleansing(df_116)
cleansed_117 = cleansing(df_117)
cleansed_118 = cleansing(df_118)
cleansed_119 = cleansing(df_119)

In [ ]:
cleansed_120 = cleansing(df_120)
cleansed_121 = cleansing(df_121)
cleansed_122 = cleansing(df_122)
cleansed_123 = cleansing(df_123)
cleansed_124 = cleansing(df_124)
cleansed_125 = cleansing(df_125)
cleansed_126 = cleansing(df_126)
cleansed_127 = cleansing(df_127)
cleansed_128 = cleansing(df_128)
cleansed_129 = cleansing(df_129)

In [ ]:
cleansed_130 = cleansing(df_130)
cleansed_131 = cleansing(df_131)
cleansed_132 = cleansing(df_132)
cleansed_133 = cleansing(df_133)
cleansed_134 = cleansing(df_134)
cleansed_135 = cleansing(df_135)
cleansed_136 = cleansing(df_136)
cleansed_137 = cleansing(df_137)
cleansed_138 = cleansing(df_138)
cleansed_139 = cleansing(df_139)

In [ ]:
cleansed_140 = cleansing(df_140)
cleansed_141 = cleansing(df_141)
cleansed_142 = cleansing(df_142)
cleansed_143 = cleansing(df_143)

## df로 합치기

In [ ]:
lists = [cleansed_0, cleansed_1, cleansed_2, cleansed_3, cleansed_4, cleansed_5, cleansed_6, cleansed_7, cleansed_8, cleansed_9,
         cleansed_10, cleansed_11, cleansed_12, cleansed_13, cleansed_14, cleansed_15, cleansed_16, cleansed_17, cleansed_18, cleansed_19,
         cleansed_20, cleansed_21, cleansed_22, cleansed_23, cleansed_24, cleansed_25, cleansed_26, cleansed_27, cleansed_28, cleansed_29,
         cleansed_30, cleansed_31, cleansed_32, cleansed_33, cleansed_34, cleansed_35, cleansed_36, cleansed_37, cleansed_38, cleansed_39,
         cleansed_40, cleansed_41, cleansed_42, cleansed_43, cleansed_44, cleansed_45, cleansed_46, cleansed_47]

In [ ]:
lists2 = [cleansed_48, cleansed_49,
         cleansed_50, cleansed_51, cleansed_52, cleansed_53, cleansed_54, cleansed_55, cleansed_56, cleansed_57, cleansed_58, cleansed_59,
         cleansed_60, cleansed_61, cleansed_62, cleansed_63, cleansed_64, cleansed_65, cleansed_66, cleansed_67, cleansed_68, cleansed_69,
         cleansed_70, cleansed_71, cleansed_72, cleansed_73, cleansed_74, cleansed_75, cleansed_76, cleansed_77, cleansed_78, cleansed_79,
         cleansed_80, cleansed_81, cleansed_82, cleansed_83, cleansed_84, cleansed_85, cleansed_86, cleansed_87, cleansed_88, cleansed_89,
         cleansed_90, cleansed_91, cleansed_92, cleansed_93, cleansed_94, cleansed_95]

In [ ]:
lists3 = [cleansed_96, cleansed_97, cleansed_98, cleansed_99,
         cleansed_100, cleansed_101, cleansed_102, cleansed_103, cleansed_104, cleansed_105, cleansed_106, cleansed_107, cleansed_108, cleansed_109,
         cleansed_110, cleansed_111, cleansed_112, cleansed_113, cleansed_114, cleansed_115, cleansed_116, cleansed_117, cleansed_118, cleansed_119,
         cleansed_120, cleansed_121, cleansed_122, cleansed_123, cleansed_124, cleansed_125, cleansed_126, cleansed_127, cleansed_128, cleansed_129,
         cleansed_130, cleansed_131, cleansed_132, cleansed_133, cleansed_134, cleansed_135, cleansed_136, cleansed_137, cleansed_138, cleansed_139,
         cleansed_140, cleansed_141, cleansed_142, cleansed_143]

In [ ]:
df = pd.DataFrame(lists, columns=['review'])
df.head()

                                              review
0  skin get strawberry jelly candies. nostalgic p...
1  first sprayed boozy warm apple pie lasted seco...
2  way masculine cant seem sell bottle... anyone ...
3  dry smoky sweet woods. feel like time ive smel...
4  would love smell someone else unfortunately go...

In [ ]:
df.to_csv(path_or_buf='/content/drive/MyDrive/perfume/df.csv')

In [ ]:
df2 = pd.DataFrame(lists2, columns=['review'])
df2.head()

                                              review
0  like arancia di capri more. smell like go hote...
1  mix layton parfums de marly oud wood tom ford ...
2  get love this. dusty powder make nose feel dry...
3  smell similar intense cafe manceras rose vanil...
4  love love love fragrance. waaay better delina ...

In [ ]:
df2.to_csv(path_or_buf='/content/drive/MyDrive/perfume/df2.csv')

In [ ]:
df3 = pd.DataFrame(lists3, columns=['review'])
df3.head()

                                              review
0  one outstanding cardamom scent arsenal. rich s...
1  anyone figured citrus aromatic chord top think...
2  keep growing . also increased love blue fragra...
3  rm beautiful addition expanding collection. gl...
4  first impression here. dry spicy warm semi swe...

In [ ]:
df3.to_csv(path_or_buf='/content/drive/MyDrive/perfume/df3.csv')

In [ ]:
df_final=pd.concat([df,df2, df3], ignore_index=True)
df_final.head()

                                              review
0  skin get strawberry jelly candies. nostalgic p...
1  first sprayed boozy warm apple pie lasted seco...
2  way masculine cant seem sell bottle... anyone ...
3  dry smoky sweet woods. feel like time ive smel...
4  would love smell someone else unfortunately go...

In [ ]:
df_final

                                                review
0    skin get strawberry jelly candies. nostalgic p...
1    first sprayed boozy warm apple pie lasted seco...
2    way masculine cant seem sell bottle... anyone ...
3    dry smoky sweet woods. feel like time ive smel...
4    would love smell someone else unfortunately go...
..                                                 ...
139  love original interlude better version. rounde...
140  softly spiced plum slightly powdery florals. s...
141  bit masculine considered unisex true sense fra...
142  sweet dont detect note separately. try future....
143  creamy jasmine floral scent expect name vanill...

[144 rows x 1 columns]

## final dataset 생성

In [ ]:
perfume = pd.read_excel('/content/drive/MyDrive/perfume/perfume_name.xlsx')
perfume.head()

,LABEL-1,LABEL-2,LABEL-3
0,https://fimgs.net/mdimg/perfume/m.33519.jpg,Baccarat Rouge 540,Maison Francis Kurkdjian
1,https://fimgs.net/mdimg/perfume/m.62615.jpg,Angels' Share,By Kilian
2,https://fimgs.net/mdimg/perfume/m.1825.jpg,Tobacco Vanille,Tom Ford
3,https://fimgs.net/mdimg/perfume/m.31623.jpg,By the Fireplace,Maison Martin Margiela
4,https://fimgs.net/mdimg/perfume/m.51411.jpg,Lost Cherry,Tom Ford

In [ ]:
perfume = perfume.iloc[:,[1,2]]
perfume.head()

              LABEL-2                   LABEL-3
0  Baccarat Rouge 540  Maison Francis Kurkdjian
1       Angels' Share                 By Kilian
2     Tobacco Vanille                  Tom Ford
3    By the Fireplace    Maison Martin Margiela
4         Lost Cherry                  Tom Ford

In [ ]:
perfume.columns=['name', 'brand']
perfume.head()

                 name                     brand
0  Baccarat Rouge 540  Maison Francis Kurkdjian
1       Angels' Share                 By Kilian
2     Tobacco Vanille                  Tom Ford
3    By the Fireplace    Maison Martin Margiela
4         Lost Cherry                  Tom Ford

In [ ]:
perfume = perfume.iloc[0:144,]
perfume.head()

                 name                     brand
0  Baccarat Rouge 540  Maison Francis Kurkdjian
1       Angels' Share                 By Kilian
2     Tobacco Vanille                  Tom Ford
3    By the Fireplace    Maison Martin Margiela
4         Lost Cherry                  Tom Ford

In [ ]:
perfume.tail()

                       name              brand
139    Interlude Black Iris            Amouage
140        Feminité du Bois       Serge Lutens
141                 Halfeti       Penhaligon's
142         Fève Délicieuse               Dior
143  Utopia Vanilla Coco 21  Kayali Fragrances

## perfume_info(최종 데이터셋) 예시

In [ ]:
perfume_info = pd.concat([df_final, perfume], axis=1)
perfume_info.head()

,review,name,brand
0,skin get strawberry jelly candies. nostalgic p...,Baccarat Rouge 540,Maison Francis Kurkdjian
1,first sprayed boozy warm apple pie lasted seco...,Angels' Share,By Kilian
2,way masculine cant seem sell bottle... anyone ...,Tobacco Vanille,Tom Ford
3,dry smoky sweet woods. feel like time ive smel...,By the Fireplace,Maison Martin Margiela
4,would love smell someone else unfortunately go...,Lost Cherry,Tom Ford

In [ ]:
perfume_info.to_csv(path_or_buf='/content/drive/MyDrive/2023 겨울 NLP 쿠빅 컨테스트/ha/perfume_info.csv')